* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #a06be0, #e78bd2);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 30px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 3px 10px 20px #593882;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display input {
    background-color: #c5aec7;
    opacity: 0.6;
    padding: 15px;
    width: 250px;
    height: 70px;
    margin-bottom: 10px;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    font-size: 24px;
    color: rgb(39, 7, 65);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

input[type="button"] {
    border: none;
    color: black;
    outline: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    text-align: center;
    padding-block-start: 0.5rem; 
    padding-inline-end: 1.05rem;
    box-shadow: 0px 2px 5px #a84eb0;
    border-radius: 10%; /* Circular buttons */
    transition: background 0.3s, transform 0.2s;
}

input[type="button"]:hover {
    background: #be61b393; 
    border: 2px solid rgb(225, 214, 227);
    color: rgb(189, 42, 218);
    transform: scale(0.9); /* Enlarges the button */ 
}

input.equal{
    background-color: rgb(235, 170, 49);
    box-shadow: 0px 2px 5px rgb(172, 167, 90);
}

.equal {
    grid-column: 4 / 5; /* Start at column #4 and end at column #5 */
    grid-row: 4 / span 5; /* Start at row #2 and span 4 rows */
}

.bottom-row {
    margin-left: 30px;
    padding: 0;
    padding-bottom: 0;
    margin-top: 0;
    grid-column: 1 / span 2; /* Make it span all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.zero, .dot {
    grid-column: 4 / 5;
    flex: 1;
    text-align: center;
}

