/* Overall Style */
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(213, 195, 190);
}

.resume-container{
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    max-width: 1000px;
}

.top-section{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}