*{
    margin: 0;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecd6c4;
    position: relative;
}

.calendar-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1000px;
    padding: 10px;
    margin: 30px auto;
    box-shadow: 0 0px 20px rgba(122, 107, 98, 0.1);
    background-color: #eae7df;
    border-radius: 10px;
    border: 3px solid  rgb(194, 130, 113); 
}

.calendar-container h1{
    background-color: #eae7df;
    text-align: center;
    font-size: 36px;
    color: rgb(194, 130, 113);
    border-bottom: 3px solid  rgb(194, 130, 113); 
}

.top-section{
    background-color: #eae7df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px; 
}

button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.Weekday {
    margin: 10px 40px 15px;
    padding: 5px;
    width: 250px;
    cursor: pointer;
    border-radius: 9px;
    transition: transform 0.2 ease;
    background-color: #eae7df;
    border: 0;
}

.Weekday:hover{
    transform: scale(1.1);
}

.Monday h2 { 
    color: #296475; 
    background-color: #88c1d3; 
    border: 3px solid #296475; 
    border-radius: 10px;
}
.Tuesday h2 { 
    color: #770e18; 
    background-color: #ba6870; 
    border: 3px solid #84454b; 
    border-radius: 10px;
}
.Wednesday h2 { 
    color: #ae943d; 
    background-color: #faeab6; border: 
    3px solid #ae943d; 
    border-radius: 10px;
}
.Thursday h2 { 
    color: #1f926f; 
    background-color: #abfae2; 
    border: 3px solid #1f926f; 
    border-radius: 10px;
}
.Friday h2 { 
    color: #3a3f79; 
    background-color: #a8acd8; 
    border: 3px solid #3a3f79; 
    border-radius: 10px;
}
.Saturday h2 { 
    color: #3a671f; 
    background-color: #d7eacb; 
    border: 3px solid #3a671f; 
    border-radius: 10px;
}
.Sunday h2 { 
    color: #6d2a2d; 
    background-color: #e989b7; 
    border: 3px solid #c84fa4; 
    border-radius: 10px;
}

.moving-box {
    width: 300px;
    height: 230px;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    transition: top 1s ease-in-out, background-color 0.5s ease, opacity 1s ease;
    border-radius: 10px;
}

/*(Max-width: 500px) */
@media (max-width: 500px) {
    .calendar-container {
        right: 1%;
        width: 100%;
        padding: 5px;
    }

    .Weekday {
        right: 13%;
        margin: 10px 40px 15px;
        padding: 5px;
        width: 150px;
        font-size: 10px;
        cursor: pointer;
        border-radius: 9px;
        transition: transform 0.2 ease;
        background-color: #eae7df;
        border: 0;
    }

    .moving-box {
        width: 10px;
        height: 150px;
        left: 40%;
        transform: translateX(-50%);
        border-radius: 10px;
    }
}

/*(Max-width: 768px) */
@media (max-width: 768px) {
    .calendar-container {
        width: 95%;
        padding: 10px;
    }

    .top-section {
        padding-left: 0px;
        padding-right: 5px;
        flex-direction: column;
        text-align: left;
        justify-content: start;
    }

    .moving-box {
        width: 35%;
        height: 150px;
        left: 75%;
        transform: translateX(-50%);
        border-radius: 10px;
    }
}